@page "/cropper"
@inject IJSRuntime JSRuntime;

<h1>Cropper</h1>
<InputFile id="input1" OnChange="OnInputFileChange"></InputFile>
@if (parsing)
{
    <center>
        <h2>@prompt</h2>
    </center>
}
@if (!string.IsNullOrEmpty(imgUrl) && !parsing)
{
    <center>
        <h2>Crop Result:</h2>
        <img src="@imgUrl" />
    </center>
}
@if (file != null)
{
    <div class="modal is-active">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Modal title</p>
                <button class="delete" aria-label="close" @onclick="()=>file=null"></button>
            </header>
            <section class="modal-card-body">
                <Cropper MaxCropedHeight="500" MaxCropedWidth="500" @ref="cropper" AspectRatio="proportion==0?1:proportion" CropperHeight="400"
                         RequireAspectRatio="bool.Parse(enableProportion)" InputId="input1" ImageFile="file" @bind-Ratio="ratio"
                         OffsetX="10"
                         OffsetY="11"
                         InitCropWidth="50"
                         InitCropHeight="50"
                         AnimeGifEnable="true"
                         PureCSharpProcessing="purecs"
                         IsCropLocked="isCropLocked"
                         IsImageLocked="isImageLocked"
                         OnSizeChanged="SizeChanged"></Cropper>
            </section>
            <footer class="modal-card-foot">
                <button class="button is-success" @onclick="DoneCrop">Done</button>
                <button class="button is-success" @onclick="@DisplayInfo">Info</button>
                @if (cropper != null)
                {
                    <input type="range" min="@(cropper.MinRatio*100)" max="@(200)" value="@(ratio*100)"
                           @oninput="OnRatioChange" />
                    <div>
                        width: @((int)width) |
                        height: @((int)height)
                    </div>
                }
                |IsCropLocked:<input type="checkbox" @bind="isCropLocked" />
                |IsImageLocked:<input type="checkbox" @bind="isImageLocked" />

            </footer>
        </div>
    </div>
}
<br />
<select @bind-value="enableProportion" @bind-value:event="onchange">
    <option value="true">Enable proportion</option>
    <option value="false">Disable proportion</option>
</select>
@if (bool.Parse(enableProportion))
{
    <input type="number" @bind-value="proportion" placeholder="proportion" />
}
<br />
Pure c# processiing:
<input type="checkbox" @bind="purecs" />
@code {
    Cropper cropper;
    IBrowserFile file;
    bool purecs = false;
    double width;
    double height;
    string imgUrl = "";
    string prompt = "Image cropped! Parsing to base64...";
    bool parsing = false;
    string enableProportion = "false";
    double proportion = 1d;
    double ratio = 1;
    bool isCropLocked = false;
    bool isImageLocked = false;

    void SizeChanged((double,double) t)
    {
        width = t.Item1;
        height = t.Item2;
    }

    void OnRatioChange(ChangeEventArgs args)
    {
        ratio = int.Parse(args.Value.ToString()) / 100.0;
    }
    protected override void OnInitialized()
    {

        base.OnInitialized();
    }

    async Task OnInputFileChange(InputFileChangeEventArgs args)
    {
        await JSRuntime.InvokeVoidAsync("console.log", DateTime.Now.ToString());
        file = args.File;
    }
    async Task DoneCrop()
    {
        var args = await cropper.GetCropedResult();
        file = null;
        parsing = true;
        base.StateHasChanged();
        await Task.Delay(10);// a hack, otherwise prompt won't show
        await JSRuntime.InvokeVoidAsync("console.log", "converted!");
        var base64string = await args.GetBase64Async();
        imgUrl = $"data:image/png;base64,{base64string}";
        parsing = false;
    }

    private void DisplayInfo()
    {
        var cropInfo = cropper.GetCropInfo();
        Console.WriteLine(cropInfo);

    }

}
<style>
    @@import url("https://fastly.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css");
</style>